
<div class = "row">
<div class = "col-md-4"></div>
<div class="panel panel-default col-md-4" id="panel">
<h3> HOME PAGE </h3>
<div id = "output">
</div>
<button id='interval'>click</button>
<button id='user'>update User</button>
</div>

<script>

	$(document).ready(function(){
	// setInterval(function() {$.ajax({
	// 	url: '/fetchData', 
	// 	method: "GET",
	// 	success: function(data){
	// 		console.log("SUCCESSFUL" + data);
	// 		console.log(data);
	// 		$('#output').html(data);
	// 		// res.send(data);
	// 		// res.redirect('/login');

	// 		// use .html to funnel in new likes here
	// 	},
	// 	error: function(err){
	// 		console.log("NOT SUCCESSFUL" + err)
	// 		// res.redirect('/login');
	// 	}
	// })}, 5000);

	$("#interval").click(function(){
		$.ajax({
			url: '/fetchData', 
			method: "GET",
			success: function(data){
				// console.log("SUCCESSFUL" + data);
				// console.log(data);
				$('#output').html(data);
				// res.send(data);
				// res.redirect('/login');

				// use .html to funnel in new likes here
			},
			error: function(err){
				console.log("NOT SUCCESSFUL", err)
				// res.redirect('/login');
			}
		})
	})

	$("#user").click(function(){
		$.ajax({
			url: '/userScore', 
			method: "GET",
			success: function(data){
				
				// console.log(data);
				// console.log("SUCCESSFUL" + data);
				// console.log(data);
				$('#output').html(data);
				// res.send(data);
				// res.redirect('/login');

				// use .html to funnel in new likes here
			},
			error: function(err){
				console.log("NOT SUCCESSFUL", err)
				// res.redirect('/login');
			}
		})
	})
})
</script>