<div> 
	{{#each input}}
	<ul>
		<li>
			<p>ID: {{id}}</p>
			<p>SCORE: {{score}}</p>
		</li>
	</ul>
	{{/each}}


	<div class="container">

		<h1>Who Finds It First</h1>

		<p>OPTIONS +</p>

		<div class="wrapper">
		{{#each input}}
			<div class="square">
				<div class="content bg" style ="background-image: url({{img}})">
					<div class="table">
						<div class="table-cell"><span class="backed"> HELLO WORLD </span></div>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</div>
